/* contact.css */

.contact-us-main-div {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.contact-us-section {
  text-align: center;
  margin-bottom: 20px;
}

.maps {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 30%; /* Set the height of the map to 30% */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Add more media queries for other screen sizes as needed */
@media (max-width: 768px) {
  .maps {
    padding-top: 40%; /* Adjust aspect ratio for smaller screens if needed */
  }
}

.footer-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  
}

.footer-contact > div {
  flex: 1;
  padding: 90px; /* Reduce padding to decrease the gap */
}

.footer-contact h1 {
  margin-bottom: 10px;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
}

.footer-contact .icon {
  margin-right: 10px;
  font-size: 1.5em;
}

.footer-contact p {
  margin: 0;
  font-family: 'Lora', serif;
}

.footer-contact .lottie-animation {
  flex: 1;
  padding: 10px; /* Reduce padding to decrease the gap */
}

/* Additional styles as needed */
