/* footer.css */
.footer-section {
    text-align: center;
    background-color: whitesmoke;
    color: black;
  }
  
  .footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .footer-contact p {
    margin: 0;
  }
  
  .social-media-icons {
    font-size: 1.5em;
  }
  
  .logo-footer img {
    width: 50px;
    color: black; /* Adjust the width of the logo as needed */
  }
  