.navigation-arrows {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 10px;
    z-index: 1;
  }
  
  .arrow-btn {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1;
  }